<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>local.nordbuds.cli</string>
    <key>CFBundleName</key>
    <string>nordbuds</string>
    <key>CFBundleExecutable</key>
    <string>nordbuds</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Send ANC mode commands to OnePlus Nord Buds over Bluetooth.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Send ANC mode commands to OnePlus Nord Buds over Bluetooth.</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSBackgroundOnly</key>
    <true/>
</dict>
</plist>
